
* {
  margin: 0;
  padding: 0;
  font-family: Helvetica, Arial, sans-serif;
  font-size: 20px;
}

.popout-icon {
  transition: transform 0.2s ease;
}

.popout-icon:hover {
  transform: scale(1.15);
}
